html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/*
 * Global layout stuff
 */

body {
  color: #545149;
  background-color: #f4f1ec;
  font-size: 24px;
  font-family: 'Source Sans 3', sans-serif;
  margin: 0;
  padding: 0;
}

.layout-style {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

nav {
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 0 1.5em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: center;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.logo {
  font-family: 'Bungee', sans-serif;
}

.navbar-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar-menu i {
  color: rgb(160, 115, 42);
  margin-top: -20px;
}

.layout-wrapping {
  display: flex;
  flex: 1;
  margin-top: 120px;
  width: 100%;
}

.container {
  flex: 2;
  padding: 1em;
  background-color: #f4f1ec;
  width: 100%;
  box-sizing: border-box;
} 

@media only screen and (max-width: 767px) {
  .layout-wrapping {
     margin: 0;
    padding-top: 115px;
    position: relative;
  }

  .container {
    padding: 1em;
  }

  .page-header {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #737576;
    justify-content: center;
    align-items: center;
    padding-top: 0;
    z-index: 900;
  }
}


@media only screen and (min-width: 1024px) {
  .layout-wrapping {
     margin-top: 0;
  }

  .container {
    max-width: 960px;
    margin: 0 auto;
  }
} 