nav {
  display: flex;
  justify-content: space-between;
  position: fixed;
  height: 120px;
  width: 100%;
  background-color: #4056A1;
  color: #FFFFFF;
  padding: 0 1.5em;
  align-items: center;
}

nav span {
  font-family: 'Bungee', sans-serif;
}

.navbar-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar-menu i {
  color: rgb(160, 115, 42);
  margin-top: -15px;
}

/* mobile */
@media only screen and (min-width: 320px) and (max-width: 787px) {
  nav {
    background-color: transparent;
  }
}