#new-tweet {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#tweet-text {
  width: 90%;
  height: 80px;
  margin: 5px auto;
  resize: none;
  border-style: hidden;
  border-bottom: 2px solid #737576;
  background-color: transparent;
}

.counter {
  color: black;
}

.counter.negative {
  color: red;
}

.container button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  font-family: 'Bungee', sans-serif;
  font-size: 16px;
  background-color: #4056A1;
  color: #fff;
}

.container output {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-top: -30px;
} 

/* media for devices */

/* Mobile */
@media only screen and (min-width: 320px) and (max-width: 425px) {
  .layout-wrapping {
    flex-direction: column; 
    align-items: center;    
  }

  .page-header {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #555657;
    justify-content: center;
    align-items: center;
    padding-top: 0;
    z-index: 900;
  }

  .container {
    width: 100%;
    padding: 1em;
    margin-top: 200px; 
  }
}

  /* Tablet */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
 
  }

/* Web/Desktop */
@media only screen and (min-width: 1024px) {

}
