#new-tweet {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  /* padding: 20px;
  margin: 20px;
  width: 500px; */
  /* border-bottom: solid; */
}

#tweet-text {
  width: 90%;
  height: 120px;
  margin: 1em auto;
  resize: none;
}

textarea {
  border-style: hidden;
  border-bottom: 2px solid #737576;
  background-color: #FFFFFF; /* change to background color*/
}

.counter {
  color: black;
}

.counter.negative {
  color: red;
}

.container button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  font-family: 'Bungee', sans-serfif;
  font-size: 16px;
  background-color: #4056A1;
  color: #fff;
}

.container output {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-top: -30px;
} 

/* media for devices */

/* Mobile */
@media only screen and (max-width: 787px){

}

  /* Tablet */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
 
  }

/* Web/Desktop */
@media only screen and (min-width: 1024px) {

}
