.tweet {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 1em;
  margin-top: 50px;
  border: 2px solid #4e4a4a;
  box-sizing: border-box;
}

.tweet-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
  padding-right: 10px;
}

.user-info {
  display: flex;
  align-items: center;
  padding-left: 20px;
  /* margin: -10px; */
  gap: 20px;
} 

.username {
  margin-left: 10px;
  /* align-self: baseline; */
}

.tweet-content {
  padding: 10px;
  margin: 1em;
  border-bottom: 5px solid #4e4a4a;
  overflow-wrap: break-word;
}

.tweet-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px;
}

.tweet:hover {
  box-shadow: 0 0 10px rgb(7, 58, 100);
}

.tweet .fa-flag:hover {
  color: rgb(160, 115, 42);
}

.tweet .fa-retweet:hover {
  color: rgb(160, 115, 42);
}

.tweet .fa-heart:hover {
  color: rgb(160, 115, 42);
}

.error {
  display: none;
  color: red;
  margin-top: 10px;
}

/* Mobile */
@media only screen and (max-width: 787px) {
  #tweets-container {
    width: 100%;
  }
}

  /* Tablet */
 @media only screen and (min-width: 768px) and (max-width: 1024px) {
  #tweets-container {
    width: 100%;
  }
 }
